@charset 'utf-8';

/**
 * 共通で使用する値を定義
 * ※固定値は UpperCase(_区切り) を推奨
 */

// COLOR SYSTEM
$MAIN_COLOR0: #33A3DF; // 青
$MAIN_COLOR1: #FFFA66; // 黄
$MAIN_COLOR2: #FF536B; // 赤

$SUB_COLOR0: #75D8EA; // 水色
$SUB_COLOR1: #7FD35F; // 緑
$SUB_COLOR2: #F6CF6F; // オレンジ
$SUB_COLOR3: #F68C7B; // ピンク
$SUB_COLOR4: #9A6AD3; // 紫
$SUB_COLOR5: #319ED8; //
$SUB_COLOR6: #ADDAF2;
$SUB_COLOR7: #5CB5E5;
//ff8697


$BLACK_COLOR0: #000; // 黒
$BLACK_COLOR1: #4D4D4D;
$BLACK_COLOR2: #ABA39A;
$BLACK_COLOR3: #CDC8C2;
$BLACK_COLOR4: #E6E3E1;
$BLACK_COLOR5: #F7F5F4;
$BLACK_COLOR6: #CCCACA;
$BLACK_COLOR7: #999;
$BLACK_COLOR8: #FBFAF9;
$BLACK_COLOR9: #4c4c4c;
$BLACK_COLOR10: #686868;
$BLACK_COLOR11: #666;


$WHITE_COLOR0: #FFF; // 白
$PLACEHOLDER_COLOR: #A9A9A9; // プレースホルダ文字色 ※IE9対応

$SATURDAY_COL_BG_COLOR: #F5FCFE; // 土曜日 背景色
$SUNDAY_COL_BG_COLOR: #FFF3F5; // 日曜日 背景色

$SATURDAY_DATE_BG_COLOR: #DCF5FA; // 土曜日 背景色
$SUNDAY_DATE_BG_COLOR: #FFD4DA; // 日曜日 背景色

$CAUTION_BG_COLOR: #FFF7F8; // 警告メッセージ枠 背景色
$NOTICE_BG_COLOR: #EAF6FC; // 通知メッセージ枠 背景色

$BORDER_COLOR0: #D7D3CE;

$TABLE_HD_ATTENTION_BG_COLOR0: #DCF5FA; // <th>強調背景色 水色
$TABLE_COL_ATTENTION_BG_COLOR0: #F5FCFE; // <td>強調背景色 水色
$TABLE_HD_ATTENTION_BG_COLOR1: #FFEDF0; // <th>強調背景色 ピンク
$TABLE_COL_ATTENTION_BG_COLOR1: #FFEDF0; // <td>強調背景色 ピンク

// z-index
$Z_INDEX0: 0;
$Z_INDEX1: 10;
$Z_INDEX2: 100;
$Z_INDEX3: 1000;

// 背景色
$ERROR_BG_COLOR: #FFE6E8; // 薄いピンク

// 角丸値
$DEFAULT_BORDER_RADIUS0: 0.3rem;
$DEFAULT_BORDER_RADIUS1: 0.6rem;

// 背景色
$BG_COLOR_DEFAULT: $WHITE_COLOR0;
$BG_COLOR_A: $BLACK_COLOR4;

// テキスト色
$TXT_COLOR_DEFAULT: $BLACK_COLOR0;

$BASE_FONT_SIZE: 1.2rem;

// グロナビ
// color
$NAV_COLOR_BG: $SUB_COLOR5;
$NAV_ITEM_COLOR_DEFAULT: $SUB_COLOR6;
$NAV_ITEM_COLOR_ACTIVE_BG: $WHITE_COLOR0;
$NAV_ITEM_COLOR_ACTIVE_FG: $MAIN_COLOR0;
$NAV_ITEM_COLOR_EXIST_SUMMENU_BG: $BLACK_COLOR1;
$NAV_ITEM_COLOR_EXIST_SUMMENU_FG: $WHITE_COLOR0;
// etc
$NAV_HEIGHT: 76px;

// reserve status colors
$RESERVE_STATUS_COLOR_BG_REQUESTED:         $SUB_COLOR0;
$RESERVE_STATUS_COLOR_BG_ACCEPTED:          $SUB_COLOR1;
$RESERVE_STATUS_COLOR_BG_CAUTION:           $MAIN_COLOR2;
$RESERVE_STATUS_COLOR_BG_UNKNOWN:           $SUB_COLOR4;
$RESERVE_STATUS_COLOR_BG_COMPLETE:          $BLACK_COLOR2;
$RESERVE_STATUS_COLOR_BG_REQUESTED_CANCEL:  $SUB_COLOR3;
$RESERVE_STATUS_COLOR_BG_ACCEPTED_CANCEL:   $MAIN_COLOR2;
$RESERVE_STATUS_COLOR_BG_UNACCEPTED_CANCEL: $BLACK_COLOR2;
$RESERVE_STATUS_COLOR_BG_PAY_CANCEL:        $BLACK_COLOR2;
$RESERVE_STATUS_COLOR_BG_INCOMPLETE_CANCEL: $SUB_COLOR3;
$RESERVE_STATUS_COLOR_BG_OVER_PAYMENT:      $BLACK_COLOR2;

// etc
$SENTENCE_LINE_HEIGHT: 2.2rem;

$NOTIFICATION_COUNT_COLOR_BG: $MAIN_COLOR2;
$NOTIFICATION_COUNT_COLOR_FG: $WHITE_COLOR0;


$BOX_SHADOW_DEFAULT: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);

// MEMO: [重要] Xperia Android4.4.4 SO-01Gで 0.1remを1pxと認識しないため、ここだけpixel指定している
//       絶対remに書き換えないこと。
$BORDER_SIZE_1: 1px;

$BORDER_DEFAULT: solid $BORDER_SIZE_1 $BLACK_COLOR4;
$BORDER_DASHED: dashed $BORDER_SIZE_1 $BLACK_COLOR4;

$RESERVATION_STATUSES: (requested,         $RESERVE_STATUS_COLOR_BG_REQUESTED),
                       (accepted,          $RESERVE_STATUS_COLOR_BG_ACCEPTED),
                       (caution,           $RESERVE_STATUS_COLOR_BG_CAUTION),
                       (unknown,           $RESERVE_STATUS_COLOR_BG_UNKNOWN),
                       (complete,          $RESERVE_STATUS_COLOR_BG_COMPLETE),
                       (requested-cancel,  $RESERVE_STATUS_COLOR_BG_REQUESTED_CANCEL),
                       (accepted-cancel,   $RESERVE_STATUS_COLOR_BG_ACCEPTED_CANCEL),
                       (unaccepted-cancel, $RESERVE_STATUS_COLOR_BG_UNACCEPTED_CANCEL),
                       (pay-cancel,        $RESERVE_STATUS_COLOR_BG_PAY_CANCEL),
                       (incomplete-cancel, $RESERVE_STATUS_COLOR_BG_INCOMPLETE_CANCEL),
                       (over-payment,      $RESERVE_STATUS_COLOR_BG_OVER_PAYMENT);

// z-index
// モダールダイアログ
$Z_INDEX_NOTICE: 10;
// 通知ポップアップ
$Z_INDEX_MODAL: 20;
// 操作させないための画面全体を覆う半透明オーバーレイ
$Z_INDEX_SCREEN_LOCK: 100;
